<a href="https://colab.research.google.com/github/haidour18/Learn_Datascience_Datacamp/blob/main/intro_to_python_for_data_science.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Variables and types

savings =100

In [2]:
print(savings)

100

In [3]:
# Create a variable growth_multiplier

growth_multiplier=1.1
# Calculate result

result =100*1.1**7
# Print out result
print(result)

194.87171000000012

In [4]:
# Create a variable desc
desc="compound interest"

# Create a variable profitable
profitable=True

In [5]:
savings = 100
growth_multiplier = 1.1
desc = "compound interest"

# Assign product of growth_multiplier and savings to year1

year1=savings*growth_multiplier
# Print the type of year1

print(type(year1))
# Assign sum of desc and desc to doubledesc
doubledesc=desc+desc

<class 'float'>

In [6]:
# Definition of savings and result
savings = 100
result = 100 * 1.10 ** 7

# Fix the printout
print("I started with $" + str(savings) + " and now have $" + str(result )+ ". Awesome!")

# Definition of pi_string
pi_string = "3.1415926"
# Convert pi_string into float: pi_float
pi_float=float(pi_string)

I started with $100 and now have $194.87171000000012. Awesome!

In [ ]:
#Python Lists

In [7]:
# area variables (in square meters)
hall = 11.25
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50

# Create list areas

areas=[hall,kit,liv,bed,bath]
# Print areas
print(areas)

[11.25, 18.0, 20.0, 10.75, 9.5]

In [11]:
# area variables (in square meters)
hall = 11.25
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50

# house information as list of lists
house = [["hallway", hall],
         ["kitchen", kit],
         ["living room", liv],["bedroom",bed],["bathroom",bath]]


print(house)

[['hallway', 11.25], ['kitchen', 18.0], ['living room', 20.0], ['bedroom', 10.75], ['bathroom', 9.5]]

In [ ]:
#subseting list